@font-face {
    font-family: 'Almarose';
    src: url('Almarose-BoldItalic.woff2') format('woff2'),
        url('Almarose-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Medium.woff2') format('woff2'),
        url('Almarose-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Light.woff2') format('woff2'),
        url('Almarose-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose Extrablack';
    src: url('Almarose-ExtraBlack.woff2') format('woff2'),
        url('Almarose-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-SemiboldItalic.woff2') format('woff2'),
        url('Almarose-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Thin.woff2') format('woff2'),
        url('Almarose-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Black.woff2') format('woff2'),
        url('Almarose-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Semibold.woff2') format('woff2'),
        url('Almarose-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Regular.woff2') format('woff2'),
        url('Almarose-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-ThinItalic.woff2') format('woff2'),
        url('Almarose-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-BlackItalic.woff2') format('woff2'),
        url('Almarose-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-ExtraboldItalic.woff2') format('woff2'),
        url('Almarose-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-RegularItalic.woff2') format('woff2'),
        url('Almarose-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Extrabold.woff2') format('woff2'),
        url('Almarose-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-MediumItalic.woff2') format('woff2'),
        url('Almarose-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-Bold.woff2') format('woff2'),
        url('Almarose-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almarose';
    src: url('Almarose-LightItalic.woff2') format('woff2'),
        url('Almarose-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

